

{% extends 'core/base.html' %}
 

  {% load static %} 
 
  

  
  {% block contenido %} 

   <!--  LOGIN  -->
   

     
    <div class="container" style="background-color:rgba(0, 153, 102);" >

        <h1 class="" style="color: aliceblue;">Login </h1>
    
    </div>
       
    <div class="container" style="background-color:rgba(0, 153, 102);" >
      
        <form action=""  id="login" method="post">
            {% csrf_token %}
            <table>


              {{ form.as_table }}
              
            </table>
            
        
                
           <input type="checkbox" class="form-check-input" role="switch" name="che" id="che">
           <label for="che">Recordar contraseña?</label>
                
           
           
            <input type="submit" class="btn btn-primary"  value="Login">
            <input type="reset" class="btn btn-danger"  value="limpiar">

    
          
        </form>
        <br>
      </div>
    
    </div>
  
{% endblock %}
