{% extends 'core/base.html' %}


  {% load static %} 

  {% block contenido %} 

    <div class="container" style="background-color: rgba(0, 153, 102);" >
        
        <h1 class="center" style="color: aliceblue;">Ingrese Datos de Arriendo</h1>
        
    </div>
    <div class="container" style="background-color: rgba(0, 153, 102);" >
          <form action=""method="POST">
            {% csrf_token %} 
           <table>           
            {{ form.as_table }}

           </table> 

           <input type="submit" class="btn btn-success"  value="Crear solicitud">
           <input type="reset" class="btn btn-danger"  value="limpiar">

   
          </form>
          {{ mensaje }} 
          <br>

          </div>
    </div>


    <div class="container" style=" background-color:rgba(0, 153, 102);">
      <h1  style="color: aliceblue;">Mis solicitudes</h1>
      </div>

  
    <div class="container" style=" background-color:rgba(0, 153, 102);">

      <table class="table table-hover">
          <thead>
          <tr>
              <th scope="col">Numero solicitud </th>
              <th scope="col">Modelo bicicleta </th>
              <th scope="col">fecha arriendo </th>
              <th scope="col">Cantidad </th>
              <th scope="col">Estado </th>
          </tr>
          </thead>
          {% for s in solicituds %} 
          <tbody>
              <tr>
                  <td> {{ s.id_arriendo }} </td>
                  <td> {{ s.bicicleta }} </td>
                  <td> {{ s.fecha_arriendo }} </td>
                  <td> {{ s.cantidad }} </td>
                  <td> {{ s.estado}} </td>
                  
                  <br>
                
                  <td> 
                    <a href="{% url 'eliminar_solicitud' s.id_arriendo%}" class="btn btn-danger">Eliminar</a>
                  
                    <a href="{% url 'mod_arrien' s.id_arriendo%}" class="btn btn-secondary">Modificar</a>
                  </td>

              </tr>
          </tbody>
          {% endfor %}
        
      </table>

{% endblock %}

