{% extends 'core/base.html' %}


  {% load static %} 

  {% block contenido %} 

    <div class="container" style="background-color: rgba(0, 153, 102);" >
        
        <h1 class="center" style="color: aliceblue;">Ingrese Datos de Arriendo</h1>
        
    </div>
    <div class="container" style="background-color: rgba(0, 153, 102);" >
          <form action="" id= "formulario-arriendo">
            
              <label for="nombre_arrendador">Nombre</label>
              <input type="text" class="form-control" name="nombre_arrendador" id="nombre_arrendador">
              <br>
              <label for="tipo_bicicleta">Tipo bicileta</label>
              <input type="text" class="form-control" name="tipo_bicicleta" id="tipo_bicicleta">
              <br>
              <label for="correo" >Correo electroninco</label>
              <input type="text"   maxlength="40" class="form-control" name="" id="correo">
                <br>
              <label for="fecha_arriendo">Fecha arriendo</label>
              <input type="date" class="form-control" name="fecha_arriendo" id="fecha_arriendo">
              <br>
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Acepta condiciones </label>
              <br>
              <br>
              <div id="errores" class="alert alert-danger"></div>
              <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
              <input type="reset" class="btn btn-primary" id="limpiar" value="limpiar">
              
              <br>

            </form>
            <br>

          </div>
    </div>


{% endblock %}

