

{% extends 'core/base.html' %}
 

  {% load static %} 
 
  

  
  {% block contenido %} 
  
   
<div class="container" style=" background-color:rgba(0, 153, 102); ">



	<div id="productos" style="color: aliceblue;" >
		<h1>Carrito de compras</h1>
    <h2>Productos disponibles</h2>
    <br>


      <div class="row">

    
    
      <div class="col-3">

        <div class="card" style="width: 15rem;">
            <img src="{% static 'core/'%}img/producto_cadena.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cadena bicicleta</h5>
              <p class="card-text "  >Cadena de bicicleta Shimano Nexus 1 Velocidad .</p>
              <p class="card-text " style="color: rgb(15, 214, 15);" >Precio : $17.990 </p>
              <a  class="btn btn-primary"  onclick="agregarProducto('Cadena nexus',17990)">Añadir Carrito</a>

            </div>
          </div>
         </div>
<!--  -->

<div class="col-3">
  <div class="card" style="width: 15rem;">
      <img src="{% static 'core/'%}img/producto_marco.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Marco bicicleta</h5>
        <p class="card-text "  >Marco de bicicleta marca JUMPER.</p>
        <p class="card-text " style="color: rgb(15, 214, 15);" >Precio : $19.990 </p>
        <a  class="btn btn-primary"  onclick="agregarProducto('Marco',19990)">Añadir Carrito</a>

      </div>
    </div>

  </div>


     
<!--  -->


<div class="col-3" >

  <div class="card" style="width: 15rem;">
  <img src="{% static 'core/'%}img/producto_camara.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Camara bicicleta</h5>
    <p class="card-text "  >Camara de bicicleta aro 16 .</p>
    <p class="card-text " style="color: rgb(15, 214, 15);" >Precio : $5.000 </p>
    <a  class="btn btn-primary"  onclick="agregarProducto('camara ',5000)">Añadir Carrito</a>
  </div>

  
</div>


</div>


<!--  -->



<div class="col-3">
  
  <a class="btn btn-secondary" href="{% url 'pedidos' %} "  role="button">Mis Pedidos</a>

	<div id="carrito">
		<h2>Carrito 🛒</h2>
		<img src="{% static 'core/'%}img/metodopagos.png" class="d-block w-100" alt="...">
    <p>Total: $<span id="total">0</span></p>
    <ul id="listaCarrito"></ul>
		
    
    <div class="container" id="moneda" style=" background-color:rgba(0, 153, 102);">
  
      <div>
       <table class="table-success" id="moneda">
    
       <thead>
       <tr>
         <th scope="col"> <h5>Moneda</h5></th>
       </tr>
       </thead>
          <tr>
          <td><div id="UF"></div> </td>
          </tr>
          <tr>
          <td><div id="DolarO"></div></td>
          </tr>
          <tr>
          <td> <div id="DolarA"></div></td>
          </tr>
          <tr>
          <td> <div id="UTM"></div></td>
          </tr>
    </table>
    </div>
    <br>
    </div>
	

</div>

</div>


</div>



 </div>


<br>
<!---------  div contaainer producto  -- -->
</div>





 {% endblock %}

