
{% extends 'core/base.html' %}
 

  {% load static %} 
 
  {% block contenido %} 
    

     
    

    <div class="container" style="background-color: rgba(0, 153, 102);" >
        
        <h1  style="color: aliceblue;">Ingrese Datos Personales</h1>
      </div>
      <div class="container" style="background-color: rgba(0, 153, 102);" >

                <form action="" id= "formulario">
                  
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre">
                    <br>
                    <label for="correo" >Correo electroninco</label>
                    <input type="text"   maxlength="40" class="form-control" name="correo" id="correo">
                      <br>
                    <label for="pas">password</label>
                    <input type="password"  minlength="8" maxlength="12" class="form-control" name="pas" id="pas">
                      <br>
                    <label for="fec">Fecha Nacimiento</label>
                    <input type="date" class="form-control" name="fec" id="fec">
                    <br>
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Acepta condiciones </label>
                    <br>
                    <br>
                    <div id="errores" class="alert alert-danger"></div>
                    <input type="submit" class="btn btn-danger" id="enviar" value="Subcribirse">
                    <input type="reset" class="btn btn-primary" id="limpiar" value="limpiar">
                    
                    <br>
          </div>
                  </form>
                  <br>
                </div>
              
              


          </div>
    
    
    
    
{% endblock %}

