{% extends 'core/base.html' %}


  {% load static %} 

  {% block contenido %} 

        
  <br>
  <!-- Quienes somos -->
  <div class="container" style="background-color:rgba(0, 153, 102);">
    <h2 class="h2" style="color:aliceblue">¿ Quienes somos ?</h2>
    <br>
    <p class="p2" style="color:aliceblue"> MasterBikes es una mini empresa apasionada por el mundo de las bicicletas. 
      Nos especializamos en la venta de repuestos de alta calidad y ofrecemos servicios de reparación y mantenimiento de bicicletas. 
      Con años de experiencia y conocimiento en el sector, nuestro objetivo es brindar a nuestros clientes soluciones confiables
       y rápidas para mantener sus bicicletas en óptimas condiciones. Nos enorgullece ser un equipo comprometido con el servicio 
      al cliente y proporcionar productos y servicios excepcionales para satisfacer las necesidades de los amantes de las bicicletas.</p>
      <br>
      <h1 class="h2" style="color:aliceblue">Mision</h1>
      <br>
      <p class="p2" style="color:aliceblue">Nuestra misión en MasterBikes es ser el referente principal en la venta de repuestos de bicicletas y 
        servicios de reparación en nuestra comunidad. Nos comprometemos a proporcionar productos de calidad y soluciones 
        eficientes para satisfacer las necesidades de nuestros clientes, brindando un excelente servicio al cliente y 
        manteniendo un enfoque constante en la satisfacción del ciclista.</p>
        <br>
        <h1 class="h2" style="color:aliceblue">Vision</h1>
        <br>
        <p class="p2" style="color:aliceblue">Nuestra visión en MasterBikes es fomentar una cultura ciclista saludable y sostenible, 
          promoviendo el uso de la bicicleta como medio de transporte y recreación. 
          Aspiramos a convertirnos en una empresa reconocida a nivel regional por nuestra amplia gama de repuestos y 
          servicios especializados, así como por nuestra capacidad de brindar soluciones innovadoras y personalizadas. 
          Nos esforzamos por ser un aliado confiable y confiable para todos los entusiastas de las bicicletas, 
          contribuyendo así al crecimiento y desarrollo de la comunidad ciclista.</p>
          <br>
         <img class="{% static 'core/'%}img/logo1.png" alt="" >
  </div>
  


  
  
{% endblock %}



