

{% extends 'core/base.html' %}
 

  {% load static %} 
 
  

  
  {% block contenido %} 

   <!--  LOGIN  -->
   

   <br>
     
    <div class="container" style="background-color:rgba(0, 153, 102);" >
        
        
       <div>
        <h1 class="" style="color: aliceblue;">Login </h1>
    
    </div>
       
 
      
        <form action=""  id="login">
         
         
            <label for="correo" >Correo electroninco</label>
            <input type="text"class="form-control" name="correo" id="correo">
            <br>
            <label for="password">password</label>
            <input type="text"class="form-control" name="password" id="password">
            
            <br>

           <div id="errores" class="alert alert-danger"></div>
        
                
           <input type="checkbox" class="form-check-input" role="switch" name="che" id="che">
           <label for="che">Recordar contraseña?</label>
                
           
           
            <input type="submit" class="btn btn-primary" id="enviar" value="enviar">
            <input type="reset" class="btn btn-danger" id="limpiar" value="limpiar">

    
          
        </form>
        <br>
      </div>
    

  
{% endblock %}
