{% extends 'core/base.html' %}


  {% load static %} 

  {% block contenido %} 


  
   
    <br>
     
    <div>

    <div class="container" style="background-color: rgba(0, 153, 102);" >
        
        
       <div>
        <h1 class="center" style="color: aliceblue;">Ingrese Datos de Servicio</h1>
    </div>

          <form action="" id= "formulario-servicios">
            
              <label for="nombre_encargo">Nombre</label>
              <input type="text" class="form-control" name="nombre_encargo" id="nombre_encargo">
              <br>
              <label for="tipo_bicicleta">Tipo bicileta</label>
              <input type="text" class="form-control" name="tipo_bicicleta" id="tipo_bicicleta">
              <br>
              <label for="modelo" >Modelo bicicleta</label>
              <input type="text"   maxlength="40" class="form-control" name="modelo" id="modelo">
                <br>
            <label for="correo" >Correo electroninco</label>
            <input type="text"   maxlength="40" class="form-control" name="" id="correo">
                <br>
              <label for="descripcion" >Descripcion falla</label>
              <textarea class="form-control" id="descripcion" rows="4"></textarea>
                <br>


              <div id="errores" class="alert alert-danger"></div>
              <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
              <input type="reset" class="btn btn-primary" id="limpiar" value="limpiar">
              
              <br>

            </form>
            <br>
        
        
        


    </div>
    

{% endblock %}
